{{ $currentPage := . }}
<div class="container">
  <div class="level">
    <div class="level-left ">
      <div class="level-item">
        <p class="title is-4">
          <a href="{{ .Site.BaseURL }}" class="title">{{.Site.Title}}</a>
        </p>
      </div>

    </div>
    <div class="level-right">
      <div class="level-item">
        <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
        <div class="navbar-brand has-text-weight-semibold">
        {{ range .Site.Menus.nav }}
        <a class="navbar-item{{if or ($currentPage.IsMenuCurrent "nav" .) ($currentPage.HasMenuCurrent "nav" .) }} is-active{{end}}" href="{{.URL}}"  >{{ .Name }}</a>
        {{ end }}
        </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="level"></div>
</div>